.titlebar {
    background-color: white;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    width: 100%;
    position: relative;
    cursor:default;
}

.titlebar > * {
    z-index: 10;
    cursor: default;
}

.titlebar-handle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.p7window.focused .titlebar-handle:after {
    top:6px;
    left: 4px;
    right: 4px;
    bottom: 6px;
    position: absolute;
    background-image: url('/titlebar-bg.png');
    content: '';
    background-repeat: repeat-x;
    background-size: 100% 22px;
}

.titlebar button {
    visibility: hidden;
    height: 22px;
    width: 26px;
    padding: 0 2px;
    flex-shrink: 0;
    display: inline-block;
    image-rendering: crisp-edges;
}

.p7window.focused .titlebar button.invisible {
    visibility: hidden;
    pointer-events: none;
}

.shade {
    overflow: hidden;
}

.p7w-content {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
}

.p7w-content.unscrollable {
    position: unset;
}

.vert-scroll {
    position: absolute;
    right: 0;
    top: 36px;
    bottom: 0;
    width: 30px;
    border-left: 2px solid black;
    z-index: 2;
}

.vert-scroll .track {
    position: absolute;
    top: 28px;
    bottom: 28px;
    left: 0;
    right: 0;
    background-image: url('/icons/scrollbar-bg.png')
}

.horiz-scroll {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 30px;
    border-top: 2px solid black;
    z-index: 2;
}

.horiz-scroll .track {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 28px;
    right: 28px;
    background-image: url('/icons/scrollbar-bg.png')
}

.arrow {
    position: absolute;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-color: black;
    border-style: solid;
    background-position: center center;
    cursor: default;
    background-color: white;
    image-rendering: pixelated;
}

.arrow-up {
    top: 0;
    right: 0;
    border-bottom-width: 2px;
    background-image: url('/icons/arrow-up.png');
}

.arrow-up:active {
    background-image: url('/icons/arrow-up-active.png');
}

.arrow-down {
    bottom: 30px;
    right: 0;
    border-top-width: 2px;
    background-image: url('/icons/arrow-down.png');
}

.arrow-down:active {
    background-image: url('/icons/arrow-down-active.png');
}

.arrow-left {
    bottom: 0;
    left: 0;
    border-right-width: 2px;
    background-image: url('/icons/arrow-left.png');
}

.arrow-left:active {
    background-image: url('/icons/arrow-left-active.png');
}

.arrow-right {
    bottom: 0;
    right: 30px;
    border-left-width: 2px;
    background-image: url('/icons/arrow-right.png');
}

.arrow-right:active {
    background-image: url('/icons/arrow-right-active.png');
}

.thumb {
    width: 28px;
    height: 28px;
    border: 2px solid black;
    background: white;
    position: absolute;
    top: 0;
    left: 0
}

.p7window.focused .titlebar button {
    visibility: visible;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

.p7window.focused .titlebar button:active:hover {
    background-image: url('/icons/titlebar-click.png');
}

.titlebar button img {
    height: 22px;
    width: 22px;
}

.p7w-close {
    background-image: url('/icons/titlebar-close.png');
}

.p7w-shrink {
    background-image: url('/icons/titlebar-shrink.png');
}

.p7w-title {
    height: 22px;
    background: white;
    padding: 0 12px;
    font-family: 'ChiKareGo2', sans-serif;
    line-height: 22px;
    pointer-events: none;
    overflow: hidden;
    margin: 0 12px;
    text-overflow: '';
}

.resize-button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 2px 0 0 2px;
    background-color: white;
    background-image: url('/icons/resize.png');
    image-rendering: pixelated;
    z-index: 1000;
}

.resize-shell {
    border-image: url('/icons/border.png') 2;
    border-image-repeat: round;
    border-width: 2px;
    image-rendering: pixelated;
    z-index: 50000;
}

.resize-shell .titlebar {
    background: transparent;
    height: 36px;
    border-bottom-width: 2px;
    border-image: url('/icons/border.png') 2;
    border-image-repeat: round;
    z-index: 50000;
}

.resize-shell .vert-scroll {
    background: transparent;
    border-left-width: 2px;
    border-image: url('/icons/border.png') 2;
    border-image-repeat: round;
    z-index: 50000;
}

.resize-shell .horiz-scroll {
    background: transparent;
    border-top-width: 2px;
    border-image: url('/icons/border.png') 2;
    border-image-repeat: round;
    z-index: 50000;
}
