.titlebar {
    background-color: white;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    width: 100%;
    position: relative;
    cursor:default;
}

.titlebar > * {
    z-index: 10;
    cursor: default;
}

.titlebar-handle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.p7window:focus-within .titlebar-handle:after {
    top:6px;
    left: 4px;
    right: 4px;
    bottom: 6px;
    position: absolute;
    background-image: url('/titlebar-bg.png');
    content: '';
    background-repeat: repeat-x;
    background-size: 100% 22px;
}

.titlebar button {
    visibility: hidden;
    height: 22px;
    width: 26px;
    padding: 0 2px;
    flex-shrink: 0;
    display: inline-block;
    image-rendering: crisp-edges;
}

.p7window:focus-within .titlebar button {
    visibility: visible;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

.p7window:focus-within .titlebar button:active:hover {
    background-image: url('/icons/titlebar-click.png');
}

.titlebar button img {
    height: 22px;
    width: 22px;
}

.p7w-close {
    background-image: url('/icons/titlebar-close.png');
}

.p7w-shrink {
    background-image: url('/icons/titlebar-shrink.png');
}

.p7w-title {
    height: 22px;
    background: white;
    padding: 0 12px;
    font-family: 'ChiKareGo2', sans-serif;
    line-height: 22px;
    pointer-events: none;
    overflow: hidden;
    margin: 0 12px;
    text-overflow: '';
}
