@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pix Chicago';
  src: url('./assets/pixChicago.woff2') format('woff2'),
  url('./assets/pixChicago.woff') format('woff');
}

@font-face {
  font-family: 'ChiKareGo2';
  src: url('./assets/ChiKareGo2.ttf') format('truetype'),
  url('./assets/ChiKareGo2.ttf') format('truetype');
}

html, body, #root, App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'ChiKareGo2', sans-serif;
  font-size: 24px;
  user-select: none;
}

#root {
  background-image: url('./assets/wallpaper.bmp');
  background-repeat: repeat;
}

.hard-shadow {
  box-shadow: 4px 4px 0 -1px #000;
}