@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geneva';
  src: url('./assets/geneva-9-2.ttf') format('truetype'),
  url('./assets/geneva-9-2.ttf') format('truetype');
}

@font-face {
  font-family: 'ChiKareGo2';
  src: url('./assets/ChiKareGo2.ttf') format('truetype'),
  url('./assets/ChiKareGo2.ttf') format('truetype');
}

html, body, #root, App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Geneva', sans-serif;
  font-size: 24px;
  user-select: none;
}

.MenuBar {
  font-family: 'ChiKareGo2', sans-serif;
}

.hard-shadow {
  box-shadow: 4px 4px 0 -1px #000;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

* {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}


.prose {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'ChiKareGo2', sans-serif;
  }
}
